.logo {
  font-size: xx-large;
  font-weight: 900;
  transform: skew(-16deg, 0deg);
  //color: #01e973;
  background-image: linear-gradient(135deg, #01e973 20%, #8d42ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-inline: 0.4vw;
  cursor: default;
}

.logo-header {

}

.server-card {
  box-shadow: #1a1a1a80 0 0 10px 2px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: #1a1a1a80 0 0 10px 4px;
  }

  img {
    cursor: pointer;
  }

  .player-count-tag {
    color: #02b158;
    background: #cfffe6;
    border-color: #01e973;
  }

  .copy-icon {
    :hover {
      color: #01e973;
      transition: color 0.2s;
    }
  }
}

.image-card {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: #1a1a1aD0 0 0 10px 2px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: #1a1a1aD0 0 0 10px 4px;
  }

  .container {
    display: flex;
    position: relative;
  }

  .info {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}

.application-wrapper {
  display: flex;

}

.application {

}

/* Remove default browser ring when focus is not "keyboard-intent" */
:where(button, [role="button"], a, input, select, textarea):focus:not(:focus-visible) {
  outline: none;
}

/* Provide your own ring for keyboard navigation */
:where(button, [role="button"], a, input, select, textarea):focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(1, 233, 115, 0.35);
  border-radius: 8px; /* optional, match your UI */
}