.logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
  margin-inline-end: 24px;
  align-content: center;
}

.server-card {
  box-shadow: #1a1a1a80 0 0 10px 2px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: #1a1a1a80 0 0 10px 4px;
  }

  img {
    cursor: pointer;
  }

  .player-count-tag {
    color: #02b158;
    background: #cfffe6;
    border-color: #01e973;
  }

  .copy-icon {
    :hover {
      color: #01e973;
      transition: color 0.2s;
    }
  }
}

.image-card {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: #1a1a1aD0 0 0 10px 2px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: #1a1a1aD0 0 0 10px 4px;
  }

  .container {
    display: flex;
    position: relative;
  }

  .info {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}